@import "mocha"

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: $base;
  color: $text;
  padding: 0.2em;
  font-family: "FantasqueSansM Nerd Font Mono";
}

// Styles on classes (see eww.yuck for more information)
/* -- General --------------------------------------------------------------- */
.bubble {
  background-color: $mantle;
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 17em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  min-width: 4em;
}

.sidestuff slider {
  all: unset;
  color: $pink;
}

.metric scale trough highlight {
  all: unset;
  background-color: $mauve;
}

/* -------------------------------------------------------------------------- */
.metric scale trough {
  all: unset;
  background-color: $surface1;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.metric {
  padding-left: 1em;
  color: $pink;
}


.icon {
  font-size: 1.7em;
}


/* -- Status Indicators ------------------------------------------------------ */
.status {
  background-color: $mantle;
  padding: 0.1em;
  border-radius: 17em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  min-width: 4em;
}

.memory {
  color: $red;
}

.cpu {
  color: $blue;
}

.clock {
  margin-right: 0.7em;
  color: $green;
}

.music {
  color: $lavender;
}

.systray {
  padding-left: 1em;
  padding-right: 1em;
}

/* -- Workspaces ------------------------------------------------------------ */
.workspace-entry {
  font-family: "FantasqueSansM Nerd Font Mono";
  font-size: 1.6em;
  color: $text;
  background-color: $surface0;
  border-radius: 100em;
  margin-left: 0.5em;
  margin-right: 0.5em;

}
.current {
  color: $surface0;
  background-color: $mauve;
}

.urgent {

  color: $sapphire;
}


.workspaces {
  background-color: $mantle;
  border-radius: 17em;
  padding: 0.2em;
}
