! special
*.foreground:   #8db7cd
*.background:   #161421
*.backgroundtrans: #16142100
*.cursorColor:  #8db7cd

! black
*.color0:       #161421
*.color8:       #7285a1

! red
*.color1:       #6b88e7
*.color9:       #5b73c1

! green
*.color2:       #7774f1
*.color10:      #514fa4

! yellow
*.color3:       #e253a2
*.color11:      #e23494

! blue
*.color4:       #ba60c0
*.color12:      #a647ac

! magenta
*.color5:       #9670be
*.color13:      #834bbe

! cyan
*.color6:       #6a89b8
*.color14:      #4a6da1

! white
*.color7:       #def3ff
*.color15:      #b8c9d3
