configuration
{
	display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
	show-icons:      true;
	sidebar-mode:    true;
}
@theme "theme"
/* vim:ft=css
